<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.james.felixlauncher" >

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/felix"
        android:label="Felix Launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LauncherActivity"
            android:label="Felix Launcher"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName="com.james.felixlauncher.LauncherActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.james.felixlauncher.LauncherActivity" />

        </activity>

        <activity
            android:name=".HiddenActivity"
            android:label="Hidden Apps"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName="com.james.felixlauncher.LauncherActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.james.felixlauncher.LauncherActivity" />
        </activity>
    </application>

</manifest>
